<div class="row">
  <div class="col-md-4 carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @slides.each do |slide| %>
        <% if slide == @slides.first %>
          <div class="carousel-item active" data-bs-interval="10000">
            <%= image_tag url_for(slide.image), class: "d-block w-100" %>
          </div>
        <% else %>
          <div class="carousel-item" data-bs-interval="10000">
            <%= image_tag url_for(slide.image), class: "d-block w-100" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>